.header{
  position:relative;
  top:-22px;
  width:100%;
  height:175px;
  background:#C87533;
  color:#33170D;

}

.header h1{

float:right;
}



.edit_holder{
 display:none;
}



.navbar{

}

#record{

  height:150px;
  width:150px;

}