<div align="center">

<div id='new_vinyl_form'>
  <form  action="/vinyls" method=" POST">
    Artist: <input type="text" name ="artist">
    Album: <input type="text" name="title">
    Review <input type="textarea" name="review">
            <input type="submit" value="Create"
  </form>
</div>


</div>