<div align="center">

<div id='new_vinyl_form'>

  <form action="/vinyls" method="POST">

    Artist: <input type="text" name ="artist">
    Album: <input type="text" name="title">
    Artwork URL: <input type='text' name="artwork">
    Notes <input type="textarea" name="notes">
            <input type="submit" value="Create">

  </form>

</div>


</div>