<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/spin.js"></script>
  <script src="/js/record-spin.js"></script>
  <script src="/js/application.js"></script>


  <title>Mynyl :)</title>

</head>
<body>
  <div class="header">
    <h1>Mynyl</h1>
    <%if session[:user] %>
        <div class="navbar">
          <a href="/logout">Logout</a>
          <img id="record" src="http://www.veryicon.com/icon/png/Media/Vinyl%20Record%20Icons/Vinyl%20White%20512.png">
        </div>
    <%end%>
  </div>
  <div id="content">

    <%= yield %>
  </div>
</body>
</html>
