<div id="outerdashbox">
  <div id="dashboard">

    <h1>What have you been listening to <%= @user.name %>? </h1>

    <a class="add_vinyl_btn" href='/vinyls/create'>Add Record</a>

    <a href="#" id="edit_toggle"> Edit Account </a>
    <div id="holder">
      <div class="edit_holder">
        <form action='/users/<%=@user.id%>' method="POST">
          <input type="hidden" name="_method" value="PUT">
          name: <input type="text" name="name">
          password: <input type="text" name="password">
            <input class="submit_btn" type="submit">
        </form>
        <p>
          <form action="/users/<%=@user.id%>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
           <input type="submit" value="Delete Account">
          </form>
        </p>
      </div>
    </div>

    <%=erb :_user_vinyls %>

  </div>
</div>
