<div id="welcomebox">



<form id='login_form' action="/login" method="POST">

  name:     <input type="text" name="name">
  password: <input type="text" name="password">
            <input class="submit_btn" type="submit" value="login">


</form>


<form id='signup_form' action="/signup" method="POST">

  name:     <input type="text" name="name">

  password: <input type="text" name="password">
            <input class="submit_btn" type="submit" value="signup">

</form>



</div>




