<div id="outerbox">


  <div id="innerbox">  <form id='login_form' action="/login" method="POST">
    <h1> Login </h1>

      name:     <input type="text" name="name">
      password: <input type="text" name="password">
                <input class="submit_btn" type="submit" value="login">


    </form>

    <h1> Sign Up </h1>


    <form id='signup_form' action="/signup" method="POST">

      name:     <input type="text" name="name">

      password: <input type="text" name="password">
                <input class="submit_btn" type="submit" value="signup">

    </form>

  </div>
</div>




