<div id="outerbox">

  <div id="innerbox">
    <h1 id="toggle_login"> I Have an Account </h1>
    <div id="outer_login_form">
        <form id='login_form' action="/login" method="POST">

          name:     <input type="text" name="name">
          password: <input type="text" name="password">
                    <input class="submit_btn" type="submit" value="login">

        </form>
    </div>

    <h1 id="toggle_signup"> I Don't Have an Account </h1>
    <div id='outer_signup_form'>
        <form id='signup_form' action="/signup" method="POST">

          name:     <input type="text" name="name">

          password: <input type="text" name="password">
                    <input class="submit_btn" type="submit" value="signup">

        </form>
    </div>
  </div>
</div>




